.swiper-area {
  position: relative;
  font-size: 14px;
}

.swiper-area .category {
  position: absolute;
  left: 0px;
  top: 0px;
  box-sizing: border-box;
  width: 234px;
  height: 460px;
  padding: 20px 0;
  background-color: rgba(105,101,101,.6);
  z-index: 1;
}

.swiper-area .category .item {
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 20px;
  line-height: 42px;
  color: #fff;
}

.swiper-area .category .item .right-align {
  float: right;
  font-size: 12px;
  font-weight: bold;
  text-align: right;
}

.swiper-area .category .item:hover {
  background-color: #ff7113;
  cursor: pointer;
}

.swiper-area .category-detail {
  display: none;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 234px;
  height: 460px;
  padding: 2px 0;
  border: 1px solid #e0e0e0;
  background-color: #fff;
  box-shadow: 3px 8px 16px rgba(0, 0, 0, .18);
}

.swiper-area .category-detail.column2 {
  width: 530px;
}

.swiper-area .category-detail.column3 {
  width: 795px;
}

.swiper-area .category-detail.column4 {
  width: 992px;
}

.swiper-area .category .item:hover .category-detail {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.swiper-area .category-detail.column2 li, .swiper-area .category-detail.column3 li {
  width: 265px;
  height: 75px;
}

.swiper-area .category-detail.column4 li {
  width: 248px;
  height: 75px;
}

.swiper-area .category-detail li a {
  display: block;
  box-sizing: border-box;
  line-height: 75px;
  padding: 0 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.swiper-area .category-detail li a img {
  width: 40px;
  height: 40px;
  margin-right: 12px;
  vertical-align: middle;
}

.swiper-area .category-detail li a:hover {
  color: #ff7113;
}

.swiper-area .swiper .left-arrow {
  position: absolute;
  width: 40px;
  height: 70px;
  left: 234px;
  top: 50%;
  margin-top: -35px;
  text-align: center;
  cursor: pointer;
}

.swiper-area .swiper .right-arrow {
  position: absolute;
  width: 40px;
  height: 70px;
  right: 0;
  top: 50%;
  margin-top: -35px;
  text-align: center;
  cursor: pointer;
}

.swiper-area .swiper .left-arrow a,
.swiper-area .swiper .right-arrow a {
  display: block;
  width: 100%;
  height: 100%;
}

.swiper-area .swiper .left-arrow a.disable,
.swiper-area .swiper .right-arrow a.disable {
  pointer-events: none;
}

.swiper-area .swiper .left-arrow:hover,
.swiper-area .swiper .right-arrow:hover {
  color: #fff !important;
  background-color: rgba(0,0,0, 0.6);
}

.swiper-area .swiper .left-arrow .iconfont, 
.swiper-area .swiper .right-arrow .iconfont {
  font-size: 30px;
  line-height: 70px;
  color: #d2d2d2;
}

.swiper-area .swiper .pagination {
  position: absolute;
  display: flex;
  right: 30px;
  bottom: 20px;
  width: 100px;
  justify-content: space-between;
}

.swiper-area .swiper .pagination li {
  box-sizing: border-box;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  border: 2px solid hsla(0,0%,100%,.3);
  background: rgba(0,0,0,.4);
}

.swiper-area .swiper .pagination li.active {
  background: hsla(0,0%,100%,.3);
  border-color: rgba(0,0,0,.4);
}

.swiper-area .swiper .pagination li:hover {
  cursor: pointer;
  background: hsla(0,0%,100%,.3);
  border-color: rgba(0,0,0,.4);
}

.swiper-area .swiper {
  position: relative;
}

.swiper-area .swiper .swiper-list {
  position: relative;
  width: 100%;
  height: 460px;
}

.swiper-area .swiper .swiper-list li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s linear;
}

.swiper-area .swiper .swiper-list li img {
  width: 100%;
  height: 100%;
}

.swiper-area .swiper .swiper-list li.active {
  opacity: 1;
}

.banner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 14px;
  margin-bottom: 26px;
}

.banner .service ul {
  display: flex;
  flex-wrap: wrap;
  width: 228px;
  height: 164px;
  padding: 3px;
  background-color: #5f5750;
}

.banner .service li {
  position: relative;
}

.banner .service .vertical-separate::after {
  position: absolute;
  display: block;
  content: "";
  width: 2px;
  height: 70px;
  top: 6px;
  right: 0;
  background-color: #665e57;
  transform: scale(0.5, 1);
}

.banner .service .horizon-separate::before {
  position: absolute;
  display: block;
  content: "";
  width: 64px;
  height: 2px;
  bottom: 0px;
  left: 4px;
  background-color: #665e57;
  transform: scale(1, 0.5);
}

.banner .service .item {
  display: block;
  width: 76px;
  height: 84px;
  font-size: 12px;
  text-align: center;
  color: #fff;
  opacity: 0.7;
}

.banner .service .item:hover {
  opacity: 1;
}

.banner .service .item img {
  display: block;
  width: 24px;
  height: 24px;
  padding-top: 19px;
  margin: 0 auto 5px;
}

.banner .product {
  width: 316px;
  height: 170px;
  transition: box-shadow 0.3s ease;
}

.banner .product:hover {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1),
  -10px 0px 10px rgba(0, 0, 0, 0.1);
}

.banner .product img {
  width: 100%;
  height: 100%;
}